.main-card-wrapper{
    display: flex;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    background-color: red;
    margin: 10px;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
img{
    margin-bottom: 20px;
}