.main-card-wrapper{
    display: flex;
    justify-content: center;
}
.card{
    display: flex;
    flex-direction: column;
    background-color: #D4BEE4;
    margin: 10px;
    height: 400px;
    width: 300px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
img{
    margin-bottom: 20px;
}
.delete{
    border: none;
    border-radius: 2px;
    width: 100px;
}
p{
    margin-bottom: 7px;
}
a{
    margin-bottom: 7px;
}
.delete:hover{
    opacity: 0.8;
    cursor: pointer;
}